<p id="notice"><%= notice %></p>

<p>
  <strong>Organization charge total:</strong>
  <%= @organization_charge.organization_charge_total_id %>
</p>

<p>
  <strong>Organization customer:</strong>
  <%= @organization_charge.organization_customer_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @organization_charge.organization_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @organization_charge.user_id %>
</p>

<p>
  <strong>Price shebao base:</strong>
  <%= @organization_charge.price_shebao_base %>
</p>

<p>
  <strong>Price shebao qiye:</strong>
  <%= @organization_charge.price_shebao_qiye %>
</p>

<p>
  <strong>Price shebao geren:</strong>
  <%= @organization_charge.price_shebao_geren %>
</p>

<p>
  <strong>Price canbao:</strong>
  <%= @organization_charge.price_canbao %>
</p>

<p>
  <strong>Price shebao guanli:</strong>
  <%= @organization_charge.price_shebao_guanli %>
</p>

<p>
  <strong>Price gongjijin base:</strong>
  <%= @organization_charge.price_gongjijin_base %>
</p>

<p>
  <strong>Price gongjijin qiye:</strong>
  <%= @organization_charge.price_gongjijin_qiye %>
</p>

<p>
  <strong>Price gongjijin geren:</strong>
  <%= @organization_charge.price_gongjijin_geren %>
</p>

<p>
  <strong>Price gongjijin guanli:</strong>
  <%= @organization_charge.price_gongjijin_guanli %>
</p>

<p>
  <strong>Price geshui:</strong>
  <%= @organization_charge.price_geshui %>
</p>

<p>
  <strong>Price qita 1:</strong>
  <%= @organization_charge.price_qita_1 %>
</p>

<p>
  <strong>Price qita 2:</strong>
  <%= @organization_charge.price_qita_2 %>
</p>

<p>
  <strong>Price qita 3:</strong>
  <%= @organization_charge.price_qita_3 %>
</p>

<p>
  <strong>Price bujiao:</strong>
  <%= @organization_charge.price_bujiao %>
</p>

<p>
  <strong>Price yujiao:</strong>
  <%= @organization_charge.price_yujiao %>
</p>

<p>
  <strong>Price gongzi:</strong>
  <%= @organization_charge.price_gongzi %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @organization_charge.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @organization_charge.end_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @organization_charge.comment %>
</p>

<%= link_to 'Edit', edit_organization_charge_path(@organization_charge) %> |
<%= link_to 'Back', organization_charges_path %>
