<p id="notice"><%= notice %></p>

<h1>Listing Customer Id Card Pictures</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>File raw</th>
      <th>Customer type</th>
      <th>Customer</th>
      <th>Content type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_id_card_pictures.each do |customer_id_card_picture| %>
      <tr>
        <td><%= customer_id_card_picture.file_name %></td>
        <td><%= customer_id_card_picture.file_raw %></td>
        <td><%= customer_id_card_picture.customer_type %></td>
        <td><%= customer_id_card_picture.customer_id %></td>
        <td><%= customer_id_card_picture.content_type %></td>
        <td><%= customer_id_card_picture.user_id %></td>
        <td><%= link_to 'Show', customer_id_card_picture %></td>
        <td><%= link_to 'Edit', edit_customer_id_card_picture_path(customer_id_card_picture) %></td>
        <td><%= link_to 'Destroy', customer_id_card_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer id card picture', new_customer_id_card_picture_path %>
