<%= form_for([:single_customer ,@contract], html: {class: 'form-inline'}) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2>保存失败</h2>
      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :开始日期 %>
    <%= f.text_field :start_date, class: 'dtp form-control' , "data-date-format" => "yyyy-mm-dd"  %>
  </div>
  <div class="form-group">
    <%= f.label :结束日期 %>
    <%= f.text_field :end_date, class: 'dtp form-control' , "data-date-format" => "yyyy-mm-dd"  %>
  </div>
  <div class="form-group">
    <%= f.label :工作岗位 %>
    <%= f.text_field :work, class: "form-control" %>
  </div><br>
  <div class="form-group">
    <%= f.label :工作地点 %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "工资" %>
    <%= f.text_field :salary, class: "form-control" %>&nbsp;
  </div>  
  <%= submit_tag("提交 #{@single_customer.name} 的合同信息", class: "btn active btn-primary") %> 
<% end %>
<script type="text/javascript">
$('.dtp').datepicker();
</script>