
<p>
  <strong>Organization customer:</strong>
  <%= @organization_charge_template.organization_customer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @organization_charge_template.user_id %>
</p>

<p>
  <strong>Price shebao base:</strong>
  <%= @organization_charge_template.price_shebao_base %>
</p>

<p>
  <strong>Price shebao qiye:</strong>
  <%= @organization_charge_template.price_shebao_qiye %>
</p>

<p>
  <strong>Price shebao geren:</strong>
  <%= @organization_charge_template.price_shebao_geren %>
</p>

<p>
  <strong>Price canbao:</strong>
  <%= @organization_charge_template.price_canbao %>
</p>

<p>
  <strong>Price shebao guanli:</strong>
  <%= @organization_charge_template.price_shebao_guanli %>
</p>

<p>
  <strong>Price gongjijin base:</strong>
  <%= @organization_charge_template.price_gongjijin_base %>
</p>

<p>
  <strong>Price gongjijin qiye:</strong>
  <%= @organization_charge_template.price_gongjijin_qiye %>
</p>

<p>
  <strong>Price gongjijin geren:</strong>
  <%= @organization_charge_template.price_gongjijin_geren %>
</p>

<p>
  <strong>Price gongjijin guanli:</strong>
  <%= @organization_charge_template.price_gongjijin_guanli %>
</p>

<p>
  <strong>Price geshui:</strong>
  <%= @organization_charge_template.price_geshui %>
</p>

<p>
  <strong>Price qita 1:</strong>
  <%= @organization_charge_template.price_qita_1 %>
</p>

<p>
  <strong>Price qita 2:</strong>
  <%= @organization_charge_template.price_qita_2 %>
</p>

<p>
  <strong>Price qita 3:</strong>
  <%= @organization_charge_template.price_qita_3 %>
</p>

<p>
  <strong>Price bujiao:</strong>
  <%= @organization_charge_template.price_bujiao %>
</p>

<p>
  <strong>Price yujiao:</strong>
  <%= @organization_charge_template.price_yujiao %>
</p>

<p>
  <strong>Price gongzi:</strong>
  <%= @organization_charge_template.price_gongzi %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @organization_charge_template.comment %>
</p>

<%= link_to 'Edit', edit_organization_charge_template_path(@organization_charge_template) %> |
<%= link_to 'Back', organization_charge_templates_path %>
