<h1>更改用户'<%=@user.name%>'的密码</h1>
<div class="container">
<%= form_for(@user, :html => {:class=>'form-horizontal'}) do |f| %>
	<div class="form-group">
    <%= f.label :输入密码 , class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
    <%= f.password_field :password_digest , class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :再输一次 , class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
     <input class="form-control" type="password" id="user_password_digest2" />
    </div>
  </div>
  <div class="form-group ">
    <div class="pull-right">
    <%= f.submit "提交" , class: "btn btn-large btn-primary", id: "submit_btn", disabled: "disabled"%>
    &nbsp;&nbsp;&nbsp;
    </div>
  </div>
<% end %>
</div>

<script>  
  $(function(){
    $("#user_password_digest2").blur( function(){
      if($(this).val()==$("#user_password_digest").val()){
        $("#user_password_digest").removeClass("field_with_errors")
        $("#user_password_digest2").removeClass("field_with_errors")
        $("#submit_btn").removeAttr("disabled"); 
      } 
      else{
        window.alert("密码不一致");
        $("#user_password_digest").addClass("field_with_errors")
        $("#user_password_digest2").addClass("field_with_errors")
        $("#submit_btn").attr("disabled","disabled"); 
      }   
    })
  })
</script>