<nav class="navbar navbar-default navbar-fixed-top  noprint" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    	<%= link_to "杭州社保网", root_path , class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown animated" funciton="个人客户业务">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>个人客户业务</strong><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <%if can_u_a_c? @current_user, :new, SingleCustomer %>
            <li><%=link_to "新客户录入", new_single_customer_path %> </li>
            <%end%>

            <%if can_u_a_c? @current_user, :index, SingleCustomer %>
            <li><%=link_to "已有客户业务", single_customers_path %></li>
            <%end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_check, SingleCustomer %>
            <li><%=link_to single_customers_list_check_path  do%>
              客户资料复核 <span class="badge alert-danger"><%= SingleCustomer.with_new_state.count%></span>
              <%end%>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_edit, SingleCustomer %>
            <li><%=link_to "客户资料修改", single_customers_list_edit_path %></li>
            <%end%>
            
            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_apply_start, SingleCustomer %>
            <li><%=link_to single_customers_list_apply_start_path  do%>
                登记申报入保 <span class="badge alert-danger"><%= SingleCustomer.need_start_shebao.count%></span>
              <%end%>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_stop, SingleCustomer %>
            <li><%=link_to "登记申报停保", single_customers_list_apply_stop_path %></li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_restart, SingleCustomer %>
            <li><%=link_to "登记重新申报入保", single_customers_list_apply_restart_path %></li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_need_renew, SingleCustomer %>
            <li><%=link_to "社保待续费人员清单", single_customers_list_need_renew_path %></li>
            <%end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_apply_start, Gongjijin %>
            <li><%=link_to gongjijins_list_apply_start_path  do%>
                登记开通公积金
                <span class="badge alert-danger"><%= Gongjijin.need_start_gongjijin.count %></span>
              <%end%>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_stop, Gongjijin %>
            <li><%=link_to "登记停交公积金", gongjijins_list_apply_stop_path %></li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_restart, Gongjijin %>
            <li><%=link_to "登记重新开通公积金", gongjijins_list_apply_restart_path %></li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_need_renew, Gongjijin %>
            <li><%=link_to "公积金待续费人员清单", gongjijins_list_need_renew_path %></li>
            <%end%>
          </ul>
        </li>

        <li class="dropdown animated" funciton="机构业务">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>机构业务</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if can_u_a_c? @current_user, :index, Organization %>
            <li><%= link_to "机构列表", organizations_path %></li>
            <%end%>
            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_check, Organization %>
            <li>
              <%= link_to organizations_list_check_path  do %>
              机构资料复核
              <span class="badge alert-danger"><%= Organization.with_new_state.count%></span>
              <%end%>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_check, OrganizationCustomer %>
            <li>
              <%= link_to organization_customers_list_check_path do%>
              机构员工资料复核
              <span class="badge alert-danger"><%= OrganizationCustomer.with_new_state.count%></span>
              <%end%>
            </li>
            <%end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_edit, OrganizationCustomer %>
            <li><%= link_to "机构员工资料修改(离职)", organization_customers_list_edit_path %></li>
            <%end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_apply_start, OrganizationShebao %>
            <li><%=link_to organization_shebaos_list_apply_start_path  do%>
                机构员工登记申报入保 <span class="badge alert-danger"><%= OrganizationShebao.can_start.count%></span>
              <%end%>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_stop, OrganizationShebao %>
            <li><%=link_to "机构员工登记申报停保", organization_shebaos_list_apply_stop_path %></li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_restart, OrganizationShebao %>
            <li><%=link_to "机构员工登记重新申报入保", organization_shebaos_list_apply_restart_path %></li>
            <%end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_apply_start, OrganizationGongjijin %>
            <li><%=link_to organization_gongjijins_list_apply_start_path  do%>
                机构员工登记开通公积金 <span class="badge  alert-danger"> <%= OrganizationGongjijin.can_start.count%></span>
              <%end%>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_stop, OrganizationGongjijin %>
            <li><%=link_to "机构员工登记停交公积金", organization_gongjijins_list_apply_stop_path %></li>
            <%end%>

            <%if can_u_a_c? @current_user, :list_apply_restart, OrganizationGongjijin %>
            <li><%=link_to "机构员工登记重新开通公积金", organization_gongjijins_list_apply_restart_path %></li>
            <%end%>            
          </ul>
        </li>

        <li class="dropdown animated" funciton="内部结算">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>内部结算</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <%if can_u_a_c? @current_user, :for_commission_input_allowed, Charge %>
            <li>
              <%= link_to charges_for_commission_input_allowed_path do %>
                提成单录入 <span class="badge alert-danger"><%= Charge.with_money_arrived_state.managed_by_users(session["current_user_id"]).count %></span>
              <% end %>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :need_approve, Commission %>
            <li>
              <%= link_to commissions_need_approve_path do %>
                提成单审批 <span class="badge alert-danger"><%= Commission.with_new_state.count %></span>
              <% end %>
            </li>
            <%end%>
            
            <%if can_u_a_c? @current_user, :index, Commission %>
            <li>
              <%= link_to commissions_path do %>
                提成单查询
              <% end %>
            </li>
            <%end%>
            
            <li class="divider"></li>

            <%if can_u_a_c? @current_user, :commission_input_allowed, OrganizationChargeTotal %>
            <li>
              <%= link_to organization_charge_totals_commission_input_allowed_path do %>
                机构常规提成单录入<span class="badge alert-danger"><%= OrganizationChargeTotal.with_money_arrived_state.managed_by_users(session["current_user_id"]).count %></span>
              <% end %>
            </li>
            <%end%>
            
            <%if can_u_a_c? @current_user, :need_approve, OrganzationCommission %>
            <li>
              <%= link_to organzation_commissions_need_approve_path do %>
                机构常规提成单审批 <span class="badge alert-danger"><%= OrganzationCommission.with_new_state.count %></span>
              <% end %>
            </li>
            <%end%>

            <li class="divider"></li>

            <%if can_u_a_c? @current_user, :commission_input_allowed, OrganizationChargeOther %>
            <li>
              <%= link_to organization_charge_others_commission_input_allowed_path do %>
                机构其他提成单录入<span class="badge alert-danger"><%= OrganizationChargeOther.with_money_arrived_state.managed_by_users(session["current_user_id"]).count %></span>
              <% end %>
            </li>
            <%end%>
            
            <%if can_u_a_c? @current_user, :need_approve, OrganizationCommissionOther %>
            <li>
              <%= link_to organization_commission_others_need_approve_path do %>
                机构其他提成单审批 <span class="badge alert-danger"><%= OrganizationCommissionOther.with_new_state.count %></span>
              <% end %>
            </li>
            <%end%>
          </ul>
        </li>

        <li class="dropdown animated" funciton="财务处理">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>财务处理</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <%if can_u_a_c? @current_user, :for_money_arrival_check, Charge %>
            <li>
              <%= link_to charges_for_money_arrival_check_path do %>
                资金核对 <span class="badge alert-danger"><%= Charge.with_new_state.count %></span>
              <% end %>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :need_finance_check, Commission %>
            <li>
              <%= link_to commissions_need_finance_check_path do %>
                提成单复核 <span class="badge alert-danger"><%= Commission.with_approved_state.count %></span>
              <% end %>
            </li>
            <%end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_money_arrival_check, OrganizationChargeTotal %>
            <li>
              <%= link_to organization_charge_totals_list_money_arrival_check_path do %>
                机构常规资金核对 <span class="badge alert-danger"><%= OrganizationChargeTotal.with_new_state.count %></span>
              <% end %>
            </li>
            <%end%>

            <%if can_u_a_c? @current_user, :need_finance_check, OrganzationCommission %>
            <li>
              <%= link_to organzation_commissions_need_finance_check_path do %>
                机构常规提成单复核 <span class="badge alert-danger"><%= OrganzationCommission.with_approved_state.count %></span>
              <% end %>
            </li>
            <%end%>
            
            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_money_arrival_check, OrganizationChargeOther %>
            <li>
              <%= link_to organization_charge_others_list_money_arrival_check_path do %>
                机构其他资金核对 <span class="badge alert-danger"><%= OrganizationChargeOther.with_new_state.count %></span>
              <% end %>
            </li>
            <%end%>
            <%if can_u_a_c? @current_user, :need_finance_check, OrganizationCommissionOther %>
            <li>
              <%= link_to organization_commission_others_need_finance_check_path do %>
                机构其他提成单复核 <span class="badge alert-danger"><%= OrganizationCommissionOther.with_approved_state.count %></span>
              <% end %>
            </li>
            <%end%>
          </ul>
        </li>

        <li class="dropdown animated" funciton="公司管理">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>公司管理</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if can_u_a_c? @current_user, :for_leader_check, Charge %>
            <li>
                <%= link_to charges_for_leader_check_path do %>
                缴费单终审 <span class="badge alert-danger"><%= Charge.with_commission_finished_state.count %></span>
              <% end %>
            </li>
            <%end%>
            <%if can_u_a_c? @current_user, :list_total, SingleCustomer %>
            <li><%=link_to "客户查询", single_customers_list_total_path  %></li>
            <% end %>

            <% if can_u_a_c? @current_user, :list_total, Charge %>
            <li><%=link_to "缴费单查询", charges_list_total_path  %></li>
            <% end %>

            <%if can_u_a_c? @current_user, :list_total, Commission %>
            <li>
              <%= link_to "提成单查询", commissions_list_total_path %></li>
            <% end %>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_total, Organization %>
            <li><%=link_to "机构查询", organizations_list_total_path  %></li>
            <% end %>

            <%if can_u_a_c? @current_user, :list_edit, OrganizationCustomer %>
            <li><%= link_to "机构员工查询", organization_customers_list_edit_path %></li>
            <%end%>

            <li class="divider"></li>
            <% if can_u_a_c? @current_user, :list_leader_check, OrganizationChargeTotal %>
            <li>
              <%= link_to organization_charge_totals_list_leader_check_path do %>
                机构常规缴费单终审 <span class="badge alert-danger"><%= OrganizationChargeTotal.with_commission_finished_state.count %></span>
              <% end %>
            </li>
            <%end%>
            <% if can_u_a_c? @current_user, :list_total, OrganizationChargeTotal %>
            <li><%=link_to "机构常规缴费单查询", organization_charge_totals_list_total_path  %></li>
            <% end %>

            <%if can_u_a_c? @current_user, :list_total, OrganzationCommission %>
            <li>
              <%= link_to "机构常规提成单查询", organzation_commissions_list_total_path %></li>
            <% end %>

            <li class="divider"></li>
            <% if can_u_a_c? @current_user, :list_leader_check, OrganizationChargeOther %>
            <li>
              <%= link_to organization_charge_others_list_leader_check_path do %>
                机构其他缴费单终审 <span class="badge alert-danger"><%= OrganizationChargeOther.with_commission_finished_state.count %></span>
              <% end %>
            </li>
            <%end%>
            <% if can_u_a_c? @current_user, :list_total, OrganizationChargeOther %>
            <li><%=link_to "机构其他缴费单查询", organization_charge_others_list_total_path  %></li>
            <% end %>

            <%if can_u_a_c? @current_user, :list_total, OrganizationCommissionOther %>
            <li>
              <%= link_to "机构其他提成单查询", organization_commission_others_list_total_path %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown animated" funciton="计算调整">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>计算调整</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if can_u_a_c? @current_user, :list_need_append_shebao, SingleCustomer %>
            <li><%= link_to '社保待补费人员清单', single_customers_list_need_append_shebao_path %></li>
            <% end %>

            <li class="divider"></li>

            <%if can_u_a_c? @current_user, :index, ShebaoBase %>
            <li><%= link_to '社保费调整', shebao_bases_path %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown animated" funciton="个人设置">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>个人设置</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%=link_to "密码更改", user_reset_password_path(:id => session[:current_user_id])%></li>
          </ul>
        </li>

        <li class="dropdown animated" funciton="系统管理">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>系统管理 </strong><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if can_u_a_c? @current_user, :index, Department %>
            <li><%=link_to "部门管理", departments_path %></li>
            <% end %>

            <li class="divider"></li>
            <% if can_u_a_c? @current_user, :index, Function %>
              <li><%=link_to "功能点设置", functions_path  %></li>
            <% end%>

            <% if can_u_a_c? @current_user, :index, User %>
            <li><%=link_to "用户管理", users_path %></li>
            <% end%>

            <% if can_u_a_c? @current_user, :index, Role %>
            <li><%=link_to "角色管理", roles_path %></li>
            <% end%>

            <li class="divider"></li>
            <%if can_u_a_c? @current_user, :list_set_user, SingleCustomer %>
            <li><%=link_to "客户归属管理", single_customers_list_set_user_path %></li>
            <% end%>

            <%if can_u_a_c? @current_user, :list_set_user, Organization %>
            <li><%=link_to "机构归属管理", organizations_list_set_user_path %></li>
            <% end%>
          </ul>
        </li>
      </ul>
      <span class="navbar-text navbar-right">当前用户:<strong><%=user.name%> &nbsp;<u><%=link_to  "退出",  user_logout_path, data: { confirm: "您确定退出系统吗?" } %></u></strong>
      </span>
    </div>
  </div>
</nav>
<script type="text/javascript">
  (function(){//为有未完成任务的菜单增加动画效果
    var main_menu_items_has_alert = [];

    $('.navbar li.dropdown').each(function(idx,ele){
      var hasTodo = false;
      $(this).find(".alert-danger").each(function(_idx,_ele){
        if(parseInt($(this).text())>0){
          hasTodo = true;
        }
      });

      if (hasTodo)
        main_menu_items_has_alert.push($(this));
    });

    $(main_menu_items_has_alert).each(function(idx,ele){
      $(this).toggleClass("swing");
    });

    setInterval(
      function(){
        $(main_menu_items_has_alert).each(function(idx,ele){
          $(this).toggleClass("swing");
        });
      }
    ,5000);
  })();
</script>