<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Is valid:</strong>
  <%= @department.is_valid %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @department.display_order %>
</p>

<p>
  <strong>User:</strong>
  <%= @department.user_id %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
