社保金 = 企业社保金 + 个人社保金 + 残保金<br/>
公积金 = 企业公积金 + 个人公积金<br/>
其他费用 = 其它1 + 其它2 + 其它3 + 补缴 + 预缴 <br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">机构名</th>
      <th class="text-center">基数</th>
      <th class="text-center">社保金</th>
      <th class="text-center">管理费</th>
      <th class="text-center">基数</th>
      <th class="text-center">公积金</th>
      <th class="text-center">管理费</th>
      <th class="text-center">个税</th>
      <th class="text-center">其他费用</th>
      <th class="text-center">应发工资</th>
      <th class="text-center">总收费</th>
      <th class="text-center">费用开始~结束日期</th>
      <% if op_type == :list_money_arriaval_check %>
      <th class="text-center">表单创建日</th>
      <% else %>
      <th class="text-center">资金到账日</th>
      <th class="text-center">资金审核日</th>
      <% end %>

      <th class="text-center">状态</th>
      <th class="text-center">备注</th>
      <th colspan="1">操作</th>
    </tr>
  </thead>

  <tbody>
    <% organization_charge_totals.each do |oct| %>
      <tr>
        <td><%= oct.organization.abbr %></td>
        <td><%= oct.price_shebao_base %></td>
        <td><a tabindex="0" class="btn btn-xs btn-warning" role="button" data-toggle="popover" data-trigger="focus" data-html="true" title="社保金 = 企业社保金 + 个人社保金 + 残保金" 
          data-content="<%= "企业社保金: #{oct.price_shebao_qiye} <br/>个人社保金: #{oct.price_shebao_geren} <br/>残保金: #{oct.price_canbao} " %>">
        <%= oct.price_shebao_qiye + oct.price_shebao_geren + oct.price_canbao %></a>
        </td>
        <td><%= oct.price_shebao_guanli %></td>
        <td><%= oct.price_gongjijin_base %></td>
        <td><a tabindex="0" class="btn btn-xs btn-warning" role="button" data-toggle="popover" data-trigger="focus" data-html="true" title="公积金 = 企业公积金 + 个人公积金" 
          data-content="<%= "企业公积金: #{oct.price_shebao_qiye} <br/>个人公积金: #{oct.price_shebao_geren}" %>">
        <%= oct.price_gongjijin_qiye + oct.price_gongjijin_geren %></a>
        </td>        
        <td><%= oct.price_gongjijin_guanli %></td>
        <td><%= oct.price_geshui %></td>
        <td><a tabindex="0" class="btn btn-xs btn-warning" role="button" data-toggle="popover" data-trigger="focus" data-html="true" title="其他费用 = 其它1 + 其它2 + 其它3 + 补缴 + 预缴" 
          data-content="<%= "其它1: #{oct.price_qita_1} <br/>其它2: #{oct.price_qita_2} <br/>其它3: #{oct.price_qita_3} <br/>补缴: #{oct.price_bujiao} <br/>预缴: #{oct.price_yujiao} " %>">
        <%= oct.price_qita_1+oct.price_qita_2+oct.price_qita_3+oct.price_bujiao+oct.price_yujiao %></a>
        </td>
        <td><%= oct.price_gongzi %></td>
        <td><strong><%= oct.price_receivable_total %></strong></td>
        <td><%= oct.start_date %>~<%= oct.end_date %></td>
        <% if op_type == :list_money_arriaval_check %>
        <td><%= oct.created_at.to_date %></td>
        <% else %>
        <td><%= oct.money_arrival_date %></td>
        <td><%= oct.money_check_date %></td>
        <% end %>
        <td><%= oct.translate_workflow_state_name(OrganizationChargeTotal::WORKFLOW_STATE_NAMES) %></td>
        <td><a tabindex="0" class="btn btn-xs btn-info" role="button" data-toggle="popover" data-trigger="focus" data-html="true" title="备注" data-content="<%= oct.comment %>">备注</a></td>
        <td><%= link_to '查看', oct , class: "btn btn-xs btn-default", target: "_blank"%></td>

        <%if op_type == :list_by_organization && oct.workflow_state == "new"#只有未被财务审核过的业务员才能修改%>
        <td><%= link_to '修改', edit_organization_charge_total_path(oct) , class: "btn btn-xs active btn-warning"%></td>
        <%end%>

        <% if op_type == :list_money_arriaval_check #等待资金到账核对%>
        <td><%= link_to '上传文件', money_arrival_files_new_path(business_type: "OrganizationChargeTotal",extra_data: oct.updated_at.to_s,main_object_id: oct.id, business_action: "money_arrival_check"), class: "btn active btn-primary btn-xs", target: "_blank"  %></td>
        <td>
          <%= link_to '设置日期', organization_charge_totals_set_money_arrival_date_path(oct), class: "btn active btn-primary btn-xs" %>
          <%= link_to '确认到账', organization_charge_totals_finish_money_check_path(oct), class: "btn active btn-primary btn-xs" %></td>
        <% end %>

        <% if op_type == :input_commission #等待填写提成单%>
        <td><%= link_to '填写提成单', new_organization_charge_total_organzation_commission_path(oct), class: "btn active btn-primary btn-xs"  %></td>
        <% end %>

        <% if op_type == :leader_check #等待领导审核%>
        <td><%= link_to '审核完毕', organization_charge_totals_leader_check_path(oct),  method: :post, class: "btn active btn-primary btn-xs"  %></td>
        <% end %>

        <% if op_type == :list_total && User.find(session["current_user_id"]).is_leader #公司领导可以更改缴费单 %>
          <td><%= link_to '修改', edit_organization_charge_total_path(oct), class: "btn active btn-warning btn-xs"  %></td>
          <td><%= link_to '上传文件', money_arrival_files_new_path(business_type: "OrganizationChargeTotal",extra_data: oct.updated_at.to_s,main_object_id: oct.id, business_action: "list_total"), class: "btn active btn-warning btn-xs", target: "_blank"  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>