<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @organization_charge_total.organization_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @organization_charge_total.user_id %>
</p>

<p>
  <strong>Price shebao base:</strong>
  <%= @organization_charge_total.price_shebao_base %>
</p>

<p>
  <strong>Price shebao qiye:</strong>
  <%= @organization_charge_total.price_shebao_qiye %>
</p>

<p>
  <strong>Price shebao geren:</strong>
  <%= @organization_charge_total.price_shebao_geren %>
</p>

<p>
  <strong>Price canbao:</strong>
  <%= @organization_charge_total.price_canbao %>
</p>

<p>
  <strong>Price shebao guanli:</strong>
  <%= @organization_charge_total.price_shebao_guanli %>
</p>

<p>
  <strong>Price gongjijin base:</strong>
  <%= @organization_charge_total.price_gongjijin_base %>
</p>

<p>
  <strong>Price gongjijin qiye:</strong>
  <%= @organization_charge_total.price_gongjijin_qiye %>
</p>

<p>
  <strong>Price gongjijin geren:</strong>
  <%= @organization_charge_total.price_gongjijin_geren %>
</p>

<p>
  <strong>Price gongjijin guanli:</strong>
  <%= @organization_charge_total.price_gongjijin_guanli %>
</p>

<p>
  <strong>Price geshui:</strong>
  <%= @organization_charge_total.price_geshui %>
</p>

<p>
  <strong>Price qita 1:</strong>
  <%= @organization_charge_total.price_qita_1 %>
</p>

<p>
  <strong>Price qita 2:</strong>
  <%= @organization_charge_total.price_qita_2 %>
</p>

<p>
  <strong>Price qita 3:</strong>
  <%= @organization_charge_total.price_qita_3 %>
</p>

<p>
  <strong>Price bujiao:</strong>
  <%= @organization_charge_total.price_bujiao %>
</p>

<p>
  <strong>Price yujiao:</strong>
  <%= @organization_charge_total.price_yujiao %>
</p>

<p>
  <strong>Price gongzi:</strong>
  <%= @organization_charge_total.price_gongzi %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @organization_charge_total.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @organization_charge_total.end_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @organization_charge_total.comment %>
</p>

<p>
  <strong>Money arrival date:</strong>
  <%= @organization_charge_total.money_arrival_date %>
</p>

<p>
  <strong>Money check date:</strong>
  <%= @organization_charge_total.money_check_date %>
</p>

<p>
  <strong>Workflow state:</strong>
  <%= @organization_charge_total.workflow_state %>
</p>

<%= link_to 'Edit', edit_organization_charge_total_path(@organization_charge_total) %> |
<%= link_to 'Back', organization_charge_totals_path %>
