<%= form_for(@money_arrival_file) do |f| %>
  <% if @money_arrival_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@money_arrival_file.errors.count, "error") %> prohibited this money_arrival_file from being saved:</h2>

      <ul>
      <% @money_arrival_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :file_raw %><br>
    <%= f.text_field :file_raw %>
  </div>
  <div class="field">
    <%= f.label :business_type %><br>
    <%= f.text_field :business_type %>
  </div>
  <div class="field">
    <%= f.label :main_object_id %><br>
    <%= f.number_field :main_object_id %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br>
    <%= f.text_field :content_type %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
