<table class="table table-striped">
  <thead>
    <tr>
      <th>客户名</th>
      <th>业务员</th>
      <th>收款类型</th>
      <th>社保费</th>
      <th>公积金</th>
      <th>服务费</th>
      <th>材料费</th>
      <th>补交费</th>
      <th>差价</th>
      <th>个税</th>      
      <th>收费总计</th>
      <th>计奖金额</th>
      <th>奖金</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% commissions.each do |commission|  charge=commission.charge %>

      <tr>
        <td><%= charge.single_customer.name %></td>
        <td><%= commission.user.name %></td> <!-- 可能缴费单的操作业务员与提成单最终的业务员不一样 -->
        <td><%= charge.charge_type %></td>
        <td><%= charge.price_shebao*charge.months_shebao %></td>
        <td><%= charge.price_gongjijin*charge.months_gongjijin %></td>
        <td><%= charge.price_fuwufei*charge.months_fuwufei %></td>
        <td><%= charge.price_cailiaofei*charge.months_cailiaofei %></td>
        <td><%= charge.price_bujiao*charge.months_bujiao %></td>
        <td><%= charge.price_chajia*charge.months_chajia %></td>
        <td><%= charge.price_geshui*charge.months_geshui %></td>        
        <td><%= charge.money_total %></td>
        <td><strong><%= commission.bonus_reference %></strong></td>
        <td><strong><%= commission.bonus %></strong></td>
        <td><%= commission.translate_workflow_state_name(Commission::WORKFLOW_STATE_NAMES) %></td>
        <td><%= link_to '查看缴费单', single_customer_charge_path(commission.charge.single_customer,commission.charge.id) , class: "btn active btn-default btn-xs" %></td>
        <% if op_type== :approve %>
          <td><%= link_to "更改业务员", commissions_set_user_path(commission), class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to "审批通过", commission_approve_path(commission), html_options={:method => "post",:class => "btn btn-primary btn-xs"}   %></td>
        <% end %>
        <% if op_type== :finance_check %>
          <td><%= link_to "财务审核通过", commission_finance_check_path(commission), html_options={:method => "post",:class => "btn btn-primary btn-xs"}   %></td>
          <td><%= link_to "修改提成单", edit_charge_commission_path( commission.charge,commission), html_options={:class => "btn btn-primary btn-xs"}   %></td>
          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate commissions %>