<h1 class="text-center">角色列表</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>角色名</th>
      <th>角色的用户列表</th>
      <th>角色的功能列表</th>
      <th>修改</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%=  role.users.collect(&:name) %> <%= link_to '设置', role_set_users_path(role) , class: "btn active btn-primary btn-sm"%></td>
        <td><%=  role.functions.collect(&:name) %><%= link_to '设置', role_set_functions_path(role) , class: "btn active btn-primary btn-sm"%></td>
        <td><%= link_to '修改', edit_role_path(role) , class: "btn active btn-primary btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建角色', new_role_path, class: "btn active btn-primary btn-sm" %>
