<!DOCTYPE html>
<html>
<head>
  <title>杭州社保网-业务办理系统</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">

  <%= render('shared/top_nav_bar', user: User.find(session["current_user_id"])) if 
        session["current_user_id"]%>

  <div class="container" id="root_div">
    <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>"><%= value %></p>
    <% end %>

    <%= yield %>

  </div>
  <div class="container">
    <div class="noprint row col-xs-12">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
